*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    
}


interface{
    max-width: 1380px;
    padding: 0 4%;
    margin: 0 auto;
}


a{
    text-decoration: none;
    list-style: none;
}



body{
    background-color: #FFEE71;
}





.stone {
    position: absolute;
    height: 30px;
    width: 100%;
    
}




.plates{height: 20px;
}


.plateone{
    position:absolute;
    left: 150px;
    width: 280px;
    height: auto;
    bottom: 535px;

   
}


.platetwo{

  position:absolute;
    left: 520px;
    width: 270px;
    height: auto;
    bottom: 535px;

}

.platethree{

 position:absolute;
    left:920px;
    width: 270px;
    height: auto;
    bottom: 535px;

}


.dragon img{
    width: 15vw;
    height: 25vh;
    position: relative;
    bottom: 19px;
}

.dragontwo img{
     transform: scaleX(-1);
      width: 15vw;
    height: 25vh;
    position: relative;
    left: 1161px;
    bottom: 229px;
}


.menu-pc{
     font-family: "Cormorant Garamond", serif;
     position: relative;
     width: 900px;
     left: 237px;
     bottom: 137px;
     font-size: 40px;
}


.menu-pc li{
    list-style: none;
    
}


.menu-pc a{
    color: #ffff;
    display: flex;
    
}

.menu-pc ul{
    display: flex;
    flex-direction: row;
    gap: 270px;
}


.inf-dice{
     font-family: "IM Fell English SC", serif;
     font-size: 30px;
     text-align: center;
     position: relative;
     bottom: 200px;
}

.dice{
    width: 230px;
    height: 100px;
    background-color:red;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 9px;
    position: relative;
    left: 560px;
    bottom:140px;
}

.dice button:hover{
    cursor: pointer;

}



.devmap{
    opacity: 0.3;
    position: absolute;
    width: 300px;
    left: 500px;
    bottom: 170px;
}

.info-dev-map{
    text-align: center;
    position: relative;
    bottom: 20px;
    right: 40px;
    font-family: "IM Fell English SC", serif;
    font-size: 20px;
}

.version{
font-size: 20px;
font: bold;
font-family: "Cormorant Garamond", serif;
position: absolute;
bottom: 2px;

}

